<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div id="page" class="container">
		<div id="header">
			<div id="logo">
				<img src="{% static 'images/p01(50%).jpg' %}" alt="" />
				<h1><a href="#">Pavel Garanin</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
					<li><a href="#" accesskey="2" title="">My project</a></li>
					<li><a href="#" accesskey="3" title="">About me</a></li>
					<li><a href="#" accesskey="4" title="">Contact me</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div id="banner">
				<img src="{% static 'images/p02.jpg' %}" alt="" class="image-full" />
			</div>
			{% block news %}
            {% endblock %}
		</div>
	</div>
</body>

</html>