{% extends 'index.html' %} {% block aboutme %}
<div id="welcome">
    <div class="title">
        <h2>FIO</h2>
        <span>{{persona.fio}}</span>
        <span>{{persona.years}}</span>
        <span>{{persona.location}}</span>
        <span>{{ persona.resume }}</span>
        <span>{{ persona.resume.all }}</span>
        <span>{{ persona.resume.title }}</span>
        <span>
            {% for skill in persona.resume.all %}
        <p>{{skill}}</p>
        {% endfor %}
        <span>
        {% for skill in persona.skills.all %}
            <p>{{skill}}</p>
        {% endfor %}
        </span> {{ persona.title }} {{ persona.article }}
    </div>
</div>
{% endblock %}