{% block news %}
<div id="featured">
    <div class="title">
        <h2>RSS</h2>
        <span class="byline">Sit </span>
    </div>
    <ul class="style1">
        <li class="first">
            <p class="date"><a href="#">Jan<b>05</b></a></p>
            <h3>111111111111111</h3>
            <p><a href="#">heeeeeeeeeeeeeeeeeeeeeeeeerrrr</a></p>
        </li>
        <li>
            <p class="date"><a href="#">Jan<b>05</b></a></p>
            <h3>111111111111111</h3>
            <p><a href="#">heeeeeeeeeeeeeeeeeeeeeeeeerrrr</a></p>
        </li>
        <li>
            <p class="date"><a href="#">Jan<b>05</b></a></p>
            <h3>111111111111111</h3>
            <p><a href="#">heeeeeeeeeeeeeeeeeeeeeeeeerrrr</a></p>
        </li>
        <li>
            <p class="date"><a href="#">Jan<b>05</b></a></p>
            <h3>111111111111111</h3>
            <p><a href="#">heeeeeeeeeeeeeeeeeeeeeeeeerrrr</a></p>
        </li>
    </ul>
</div>
{% endblock %}