{% block news %}
<div id="featured">
    <div class="title">
        <h2>RSS</h2>
        <span class="byline">Sit </span>
    </div>
    <ul class="style1">
  
        {% for project in projects%}
        <li>
            <p class="date"><a href="#">{{project.publishe|date:"b" }}<b>{{project.publishe|date:"d" }}</b></a></p>
            <h3>{{project}}</h3>
            <p><a href="/project/{{project.id}}">{{project.shor_article}}</a></p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}