{% extends "core/index.html" %} {% load static %} {% block content %} {% block about%}
<div id="welcome">
    <div class="title">
        <h2>Resume</h2>
    </div>
    <div>
        <span class="byline">FIO:{{persona.fio}}</span><br/>
        <span class="byline">Age:{{persona.years}}</span><br/>
        <span class="byline">Location:{{persona.location}}</span><br/>

        <span class="byline">
            Skils:{% for skill in persona.skills.all%}
            {{skill.skill}}
            {% endfor %}
            </span><br/>
    </div>
</div>
{{about_me}}
{% endblock %} {% endblock %}