{% extends "about_me/about_me.html" %} {% block about%}
<div id="welcome">
    <div class="title">
        <h2>Resume</h2>
    </div>
    <div>
        <span class="byline">FIO:{persona.fio}</span><br/>
        <span class="byline">Age:{persona.fio}</span><br/>
        <span class="byline">Location:{persona.fio}</span><br/>
        
        <span class="byline">
            Skils:{% for skill in persona.skils.all%}
            {skill.skill}
            {% endfor %}
            </span><br/>
    </div>
</div>
{% endblock %}